<form>                                                 <!-- فرم ثبت نام -->
    <div class="main-form">
      <div class="email-div" style="width: 100%;">
        <span><label for="firstName">نام</label></span>
        <span><input type="text" class="form-control" name="firstName" id="firstName"></span>
      </div>
      <div class="lastName-div" style="width: 100%;">
        <span><label for="lastName">نام خانوادگی</label></span>
        <input type="text" class="form-control" name="lastName" id="lastName">
      </div>
    </div>
    <div class="lastName-div" style="width: 100%;margin-top: 6px;">
      <span><label for="lastName">ایمیل یا شماره موبایل</label></span>
      <input type="text" class="form-control" name="lastName" id="lastName">
    </div>
    <div class="lastName-div" style="width: 100%; margin-top: 6px;">
      <span><label for="lastName">رمز عبور</label></span>
      <input type="text" class="form-control" name="lastName" id="lastName">
    </div>
    <div class="lastName-div" style="width: 100%; margin-top: 6px;">
      <span><label for="lastName">تکرار رمز عبور</label></span>
      <input type="text" class="form-control" name="lastName" id="lastName">
    </div>
    <div class="btn-div">
      <button class="btn btn-success">ورود</button>
      <button class="btn btn-primary">ثبت نام</button>
    </div>
  </form>