<form [formGroup]="loginForm" (ngSubmit)="login()">                            <!-- لاگین فرم -->
    <div class="main-form"> 
      <div class="emailOrMobile-div" style="width: 100%;">
        <span><label for="emailOrMobile">شماره تلفن یا ایمیل</label></span>
        <span><input type="text" class="form-control" name="emailOrMobile" id="emailOrMobile" formControlName="emailOrMobile"></span>
      </div>
      <div class="password-div" style="width: 100%;">
        <span><label for="password">رمز عبور</label></span>
        <input type="password" class="form-control" name="password" id="password" formControlName="password">
      </div>
    </div>
    <div class="btn-div">
      <button class="btn btn-success" type="submit" [disabled]="!this.loginForm.valid">ورود</button>
      <button class="btn btn-primary" (click)="register()">ثبت نام</button>
    </div>
    <label>
      <input class="form-check-input" type="checkbox" value="">
      <span class="form-check-label">فراموشی رمز</span>
    </label>
  </form>